*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

.menu-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px 25px;
    cursor: pointer;
}

.sidebar {
    width: 35%;
    height: 100%;
    background-image: linear-gradient(rgba(78, 0, 225, 0.75), rgba(7,0,60,0.85));
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 60px;
    color: #fff;
}

.top-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-icon {
    width: 30px;
    cursor: pointer;
}

.top-links div img{
    width: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.sidebar h1 {
    font-size: 60px;
    margin-top: 130px;
}

.sidebar h3 {
    font-weight: 500;
}

.sidebar p {
    font-size: 16px;
    margin-top: 30px;
}

.sidebar a {
    display: inline-block;
    text-decoration: none;
    color: #4e00ff;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 4px;
    margin-top: 30px;
}

#btn {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width: 100px;
    cursor: pointer;
}

#backVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;

    display: none;
}

@media (min-aspect-ratio: 16/9) {
    #backVideo {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #backVideo {
        width: auto;
        height: 100%;
    }
}

